.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 20px;
}

.navbar-nav{
    float: right;
}
.side-ul {
	list-style: none;
}

.side-ul li:before{
  content: "\2022";
  color:#00a6e0;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size: 18px;
}

.header-list{
	padding: 17px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-list a:hover{
	color:#25aee5;
}
.specials {
    position: relative;
    display: inline-block;
    padding: 19px 20px;
    background-color:#01a7e1;
	transform: skewX(-30deg);
	margin-left: 25px;
}
.specials a{
	color: #fff;
	display: inline-block!important;
	  
}
.specials a:hover{
	color: #fff;
}

.side-menu{
	background-color: #e4e2e3;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    color: #353e45;
}

.header-container{
	border: 1px solid #e4e2e3;
    border-top: none;
	padding-left: 15px;
	margin-bottom: 30px;
}
#box{
	box-shadow: 0px 7px #e3e3e3;
}

.header-one{
	color: #00a8e3;
	font-weight: 700;
	margin-top: 0px!important;
}
.header-two{
	font-style: italic;
	padding-left: 30px;
}

.content-paragraph{
	line-height: 26px;
	padding: 10px 0px;
	color: #5b6268;
}

.image-content__class-pictures {
	display: grid;
    grid-gap: 43px;
	grid-template-columns: repeat(3, 1fr);
	padding-bottom: 40px;
}
.class-pictures__class-content {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	transition: all .5s ease;
	border: 1px solid #3dbce9;
	height: 170px;
}
.class-content__img-container::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;	
}
.class-pictures__class-content:hover .class-content__img-container::after {
	background-color:#044a6382;
	
}
.class-content__img {
	width: 100%;
	transition: all .5s ease;
}
.class-pictures__class-content:hover {
	border: 1px solid #3dbce9;
}

.class-content__class-caption {
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	text-align: center;
    z-index: 1;
	opacity: 0;
	transition: all 300ms ease-out;
	transform: translate(-50%, -50%);
}
.class-pictures__class-content:hover .class-content__class-caption {
	opacity: 1;
}


.p-0{
	padding: 0!important;
}
.m-0{
	margin: 0!important;
}
.mt-20{
	margin-top: 20px;
}
.pl-0{
	padding-left: 0!important;
}
.pr-30{
	padding-right: 30px;
}


@media only screen and (max-width: 767px) {
    .image-content__class-pictures {
		grid-template-columns: repeat(1, 1fr);
	    grid-gap: 15px;
    }
    .class-content__img-container::after {
		background-color: rgba(0, 0, 0, 0.65);
    }
    .class-content__class-caption {
		opacity: 1;
	}

	.navbar-header{
		padding-bottom: 38px!important;
	}
	.navbar-collapse{
		float: left;
	}
	.header-list{
		padding: 0px!important;
		font-size: 13px!important;
		font-weight: 600!important;
		text-transform: uppercase!important;
	}
}